@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Staatliches&display=swap');

/*
    font-family: 'Manrope', sans-serif;
    font-family: 'Staatliches', cursive;
*/


body{
    margin: 0;
    background-image: url(fondos/fondo\ principal.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.cabecera{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px;
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
}

#perfil{
    width: 80px;
    margin-left: 50px;
}

.navegacion{
    margin-right: 45px;
    display: flex;
}

.cabText{
    padding-right: 65px;
    color: white;
    transition: 0.3s;
    font-size: 120%;
}

.cabText:hover{
    letter-spacing: 2px;
}

.logo{
    display: flex;
    margin-right: auto;
    align-items: center;
}

#name{
    margin-left: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 22px;
    word-spacing: 150%;
    letter-spacing: 1px;
}


.cuerpo{
    color: white;
    text-align: center;
    position: relative;
}

#presentacion{
    margin-top: 180px;
    font-size: 90px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    font-weight: lighter;
}

#parrafoCuerpo{
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    margin-top: -50px;
}

.redes1{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 400px;
    left: 10px;
    padding: 7px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}

.imgRedes{
    align-items: center;
    display: block;
    width: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a{
    text-decoration: none;
}

#codigos{
    width: 500px;
    display: block;
    margin: auto;
    transform: translate(0, 50px);
    text-shadow: 10px 10px 10px black;
}

.herramientas{
    text-align: center;
}

#desarrollo{
    margin-top: 270px;
}

#design{
    margin-top: 100px;
    padding-bottom: 50px;
}

.programText{
    font-size: 25px;
    font-family: 'Manrope', sans-serif;
    color: white;
}

.lenguajes img{
    padding-inline: 10px;
}

.programas img{
    width: 270px;
}

#hr1{
    position: absolute;
    top: 100%;
    width: 100%;
    border-style: none;
}

.menu{
    display: none;
}

/**/@media screen and (max-width: 800px){
    .navegacion {
        display: none;
    }
    .menu {
        display: inherit;
    }
}

.cabecera .overlay{
    height: max-content;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(36, 36, 36, 0.5);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.cabecera .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.cabecera .overlay .close{
    position: absolute;
    top: 20px;
    right: 20px;
}

@media screen and (max-height: 450px){

}