@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Staatliches&display=swap');

/*
    font-family: 'Manrope', sans-serif;
    font-family: 'Staatliches', cursive;
*/

p {
    margin: 0;
}

.bolder {
    font-weight: bold;
}

:root[data-theme="dark"] {
    --image-b: url(fondos/fondo\ principal_2.jpg);
    --primary-color: white;
    --secondary-color: white;
    --title-color-1: #8bc9ff;
    --title-color-2: #fffea8;
    --background-navbar: rgba(0, 0, 0, 0.5);
    --background-grid: rgba(0, 0, 0, 0.7);
    --background-grid-secondary: rgba(0, 0, 0, 0.5);
    --background-asset: rgba(0, 0, 0, 0.9);
}

.btn-light {
    color: rgb(71, 71, 71);
    transition: .2s ease-in;
}

.btn-dark {
    color: rgb(163, 163, 163);
    transition: .2s ease-in;
}

.btn-light:hover {
    cursor: pointer;
    color: black;
    scale: 1.2;
}

.btn-dark:hover {
    cursor: pointer;
    color: white;
    scale: 1.2;
}

.btn-color {
    background: none;
    border: none;
    padding-inline: 20px;
}

:root[data-theme="light"] .btn-dark {
    display: none;
}

:root[data-theme="light"] .btn-light {
    display: flex;
}

:root[data-theme="dark"] .btn-light{
    display: none;
}

:root[data-theme="dark"] .btn-dark{
    display: flex;
}

:root[data-theme="light"] .redes-dark {
    display: none;
}

:root[data-theme="light"] .redes-light {
    display: flex;
}

:root[data-theme="dark"] .redes-light{
    display: none;
}

:root[data-theme="dark"] .redes-dark{
    display: flex;
}

:root[data-theme="light"] {
    --image-b: url(fondos/fondo_light.jpg);
    --primary-color: black;
    --secondary-color: rgb(51, 51, 51);
    --title-color-1: #200077;
    --title-color-2: #979500;
    --background-navbar: rgba(255, 255, 255, 0.8);
    --background-grid: rgba(255, 255, 255, 0.9);
    --background-grid-secondary: rgba(255, 255, 255, 0.6);
    --background-asset: rgba(255, 255, 255, 0.9);
}


* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: var(--image-b);
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background-color: var(--background-navbar);
    backdrop-filter: blur(5px);
    position: fixed;
    margin-inline: auto;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
}

.cabText {
    padding-inline: 20px;
    color: var(--primary-color);
    margin-block: 15px;
    transition: 0.3s;
    font-size: 120%;
}

.cabText:hover {
    letter-spacing: 2px;
}

.logo {
    display: flex;
    max-width: 50px;
    padding-inline: 20px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 120px;
    margin-bottom: 40px;
    max-width: 900px;
    margin-inline: auto;
    padding: 0 30px;
    box-sizing: border-box;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.presentation {
    color: var(--secondary-color);
    position: relative;
    align-items: center;
}

.presentation h1 {
    font-size: 60px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    margin-block: 0;
    color: var(--title-color-1);
}

.presentation h3 {
    font-size: 40px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    margin-block: 0;
}

@keyframes parpadeo {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animated-point {
    margin-left: .2em;
    color: var(--primary-color);
    animation: parpadeo 2s infinite;
    animation-timing-function: step-start;
}

.blue {
    color: var(--title-color-1);
}

.yellow {
    color: var(--title-color-2);
}

a {
    text-decoration: none;
}

.herramientas {
    text-align: center;
}

#desarrollo {
    margin-top: 270px;
}

#design {
    margin-top: 100px;
    padding-bottom: 50px;
}

.programText {
    font-size: 25px;
    font-family: 'Manrope', sans-serif;
    color: var(--primary-color);
}

.programas img {
    width: 270px;
}

#hr1 {
    position: absolute;
    top: 100%;
    width: 100%;
    border-style: none;
}

#perfil-small {
    display: none;
}

/*  -------------- GRILLA --------------  */

.grid {
    background: var(--background-grid);
    backdrop-filter: blur(1px);
    border-radius: 20px;
    display: flex;
}

.titulo {
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.description {
    background: var(--background-grid-secondary);
    border-radius: 20px;
    padding: 40px;
    display: flex;
}

.description img {
    max-width: 150px;
    max-height: 150px;
}

.description p {
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    margin-block: 0;
    margin-right: 30px;
    text-align: left;
    align-items: center;
}

.redes {
    display: flex;
    gap: 10px;
}

.redes-box {
    width: 100%;
    border-radius: 20px;
    font-family: 'Manrope', sans-serif;
    color: var(--primary-color);
    padding: 10px;
    background-image: linear-gradient(#8bc9ff, #fffea8);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .38s;
}

.redes-box:hover {
    background-color: var(--background-grid-secondary);
    background-size: 100% 2px;
}

.redes-box a {
    display: flex;
    width: 100%;
    align-items: center;
}

.redes-box img {
    margin-left: 20px;
    width: 30px;
}

.redes-box p {
    font-size: 20px;
    margin: 0;
    margin-left: 20px;
    color: var(--title-color-1);
}

.experiencia {
    background-color: var(--background-grid-secondary);
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.experiencia div {
    display: flex;
    align-items: center;
}

.experiencia>div {
    gap: 40px;
}

.experiencia h1 {
    font-family: 'Staatliches';
    font-size: 6rem;
    margin-block: 0;
}

.experiencia p {
    margin-block: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 1.3rem;
    color: var(--primary-color);
    margin-left: 20px;
}

.proyectos hr {
    position: absolute;
    transform: translateY(-100px);
    border: none;
}

.titulo-proyecto {
    justify-content: center;
}

.titulo-proyecto h1 {
    font-size: 40px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    margin-block: 0;
}

.cardproyecto {
    width: 100%;
    display: flex;
    
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.proyectos {
    gap: 20px;
}

.proyect-card {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Manrope', sans-serif;
    color: var(--primary-color);
    transition: .2s ease-in;
}

.proyect-card > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block: 10px;
    margin-right: 10px;
}

.proyect-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.proyect-header p {
    font-size: 1.1rem;
    margin-left: 10px;
}

.proyect-header p::before {
    content: '🔗 ';
}

.proyect-header + p {
    text-wrap: pretty;
}

.proyectimg {
    width: 420px;
    height: auto;
    border-radius: 15px;
    filter: grayscale(100%);
    transition: 0.2s;
}

.proyectimg:hover {
    transform: scale(1.02);
    filter: grayscale(0);
}

.proyect-card a {
    text-decoration: none;
    color: var(--primary-color);
}

.proyect-card a:hover {
    cursor: pointer;
}

.link-a-proyecto {
    display: none;
}

.proyect-card h1 {
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    margin: 0;
}

.proyect-card h2 {
    font-family: 'Staatliches', cursive;
    font-size: 1.6rem;
    font-weight: normal;
    letter-spacing: .1rem;
    margin: 0;
}

.proyect-header a p {
    transition: 0.3s;
}

.proyect-header a p:hover {
    letter-spacing: 0.5px;
}

.proyect-lenguajes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icons-lenguajes-proyects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.icons-lenguajes-proyects img {
    width: 40px;
}

.asset {
    background: var(--background-asset);
    padding: 10px;
}

.asset > div {
    margin-block: auto;
}

.asset:hover {
    scale: 1;
}

.asset h1 {    
    text-align: center;
    margin: 0;
}

.asset p {
    color: var(--primary-color);
    text-align: center;
    margin-block: 0;
}

#dia-semana {
    font-size: 2rem;
}

#dateAsset {
    font-size: 4rem;
    margin-bottom: 20px;
}

.titulo-lenguajes {
    justify-content: center;
}

.titulo-lenguajes h1 {
    font-size: 40px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    margin-block: 0;
}

.icons-lenguajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--background-grid-secondary);
    max-width: 100%;
    padding: 15px;
    align-items: center;
    text-align: center;
}

.icons-lenguajes div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-inline: 15px;
    width: 60px;
    height: 90px;
}

.icons-lenguajes p {
    opacity: 0;
    color: var(--primary-color);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: .9rem;
    transition: .25s;
}

.icons-lenguajes img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 60px;
    transform: translateY(20px);
    transition: .08s;
}

.icons-lenguajes div:hover img {
    top: 10px;
}

.icons-lenguajes div:hover p {
    opacity: 0.8;
} 

footer {
    background: var(--background-navbar);    
    backdrop-filter: blur(5px);
    padding: 15px;
}

footer > div {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80%;
}

footer p {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-block: 5px;
    color: var(--primary-color);
    transition: .3s;
}

footer a p:hover {
    letter-spacing: .7px;
}

footer a p::before {
    content: '🔗 ';
}


@media (max-width: 850px) {
    .description p {
        font-size: 1.25rem;
    }

    .description img {
        max-width: 100px;
        max-height: 100px;
    }

    .experiencia p {
        font-size: 1.1rem;
    }

    .redes-box p {
        font-size: 1rem;
        margin-left: 10px;
    }

    .redes-box img {
        margin-left: 5px;
    }

    .proyect-card {
        flex-direction: column-reverse;
        height: auto;
    }

    .proyectimg {
        width: 100%;
        filter: none;
    }

    .proyectimg:hover {
        transform: scale(1);
    }

    .proyect-card > div {
        margin: 20px;
        gap: 20px;
    }

    .link-a-proyecto {
        display: block;
    }

    .icons-lenguajes div {
        width: 40px;
        height: 70px;
    }

    .icons-lenguajes img {
        width: 40px;
        margin-block: 10px;
        transform: translateY(5px);
    }
}

@media (max-width: 700px) {
    #perfil-large {
        display: none;
    }

    #perfil-small {
        display: flex;
        max-width: 30vw;
    }

    .description {
        padding: 20px
    }

    .description p {
        margin-inline: 0;
    }

    .titulo-lenguajes h1 {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    #perfil-small {
        max-width: 25vw;
    }

    .presentation h3 {
        font-size: 30px;
    }

    .presentation h1 {
        font-size: 45px;
        letter-spacing: .1rem;
    }

    .redes-box p {
        display: none;
    }

    .redes-box img {
        margin-left: 5px;
    }
    
    .experiencia div {
        flex-direction: column;
        gap: 20px;
    }

    .experiencia > div > div {
        gap: 0;
    }

    .experiencia h1 {
        font-size: 4rem;
    }

    .experiencia p{
        text-align: center;
        font-size: 1rem;
    }

    .cards {
        flex-direction: column;
    }

    .proyect-card {        
        width: auto;
    }

    .titulo-lenguajes h1 {
        text-align: center;
        margin: 5px;
        font-size: 30px;
    }
}

@media (max-width: 450px) {

    #perfil-small {
        position: absolute;
        max-width: 25vw;
        top: 20px;
        right: 20px;
    }

    .presentation h3 {
        font-size: 30px;
    }

    .presentation h1 {
        font-size: 45px;
        letter-spacing: .1rem;
    }

    .redes-box p {
        display: none;
    }

    .redes-box {
        justify-content: center;
    }

    .redes-box img {
        margin-inline: 5px;
    }

    .description p {
        font-size: 1rem;
    }

    .container {
        max-width: 100%;
        width: 100%;
    }

    .cabText, .logo, .btn-color {
        padding: 8px;
    }
}

@media (max-width: 345px) {
    #perfil-small {
        display: none;
    }
}